
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/340-Group-Project/v17/ipch/AutoPCH/54986f063bc20309/MAIN.ipch
.vs/340-Group-Project/v17/Browse.VC.opendb
.vs/340-Group-Project/v17/Browse.VC.db-wal
.vs/340-Group-Project/v17/Browse.VC.db-shm
.vs/340-Group-Project/v17/Browse.VC.db
.vs/VSWorkspaceState.json
.vs/340-Group-Project/v17/.suo
340-Group-Project-Solution/x64/Debug/vc143.pdb
340-Group-Project-Solution/x64/Debug/vc143.idb
340-Group-Project-Solution/x64/Debug/functions.obj
340-Group-Project-Solution/x64/Debug/340-Group-Project-Solution.log
340-Group-Project-Solution/x64/Debug/340-Grou.c104bfe9.tlog/unsuccessfulbuild
340-Group-Project-Solution/x64/Debug/340-Grou.c104bfe9.tlog/CL.command.1.tlog
340-Group-Project-Solution/x64/Debug/340-Grou.c104bfe9.tlog/340-Group-Project-Solution.lastbuildstate
340-Group-Project-Solution/340-Group-Project-Solution.vcxproj.user
340-Group-Project-Solution/340-Group-Project-Solution.vcxproj.filters
340-Group-Project-Solution/340-Group-Project-Solution.vcxproj
340-Group-Project-Solution/.vs/340-Group-Project-Solution/v17/Browse.VC.opendb
340-Group-Project-Solution/.vs/340-Group-Project-Solution/v17/Browse.VC.db-wal
340-Group-Project-Solution/.vs/340-Group-Project-Solution/v17/Browse.VC.db-shm
340-Group-Project-Solution/.vs/340-Group-Project-Solution/v17/Browse.VC.db
